[submodule "lib/system"]
	path = lib/system
	url = ../../webcraftmedia/system.git
[submodule "lib/font_awesome"]
	path = lib/font_awesome
	url = ../../webcraftmedia/lib_font_awesome.git
[submodule "lib/flexslider"]
	path = lib/flexslider
	url = ../../webcraftmedia/lib_flexslider.git
[submodule "lib/ts3"]
	path = lib/ts3
	url = ../../webcraftmedia/lib_ts3.git
[submodule "lib/handlebars"]
	path = lib/handlebars
	url = ../../webcraftmedia/lib_handlebars.git
[submodule "lib/wow_tooltips"]
	path = lib/wow_tooltips
	url = ../../webcraftmedia/lib_wow_tooltips.git
[submodule "lib/minecraft_query"]
	path = lib/minecraft_query
	url = ../../webcraftmedia/lib_minecraft_query.git
[submodule "mojotrollz/sai/saimod_webcraft_updates"]
	path = mojotrollz/sai/saimod_webcraft_updates
	url = ../../webcraftmedia/saimod_webcraft_updates.git
