.btn-success { 
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
} 
 
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
} 
 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  background-image: none; 
} 