@-ms-viewport{
  width: device-width;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}
#home_content {
    margin-top: 50px;
}

#mojotrollz_client{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px; 

}

.flex-direction-nav a { display: none; }

table.mojotrollz_table tr:nth-child(even) {
}
table.mojotrollz_table tr:nth-child(odd) {
 background-color: #1a1a1a;
}
table.mojotrollz_table tr:hover {
 background-color: #1f1f1f;
}
