@-ms-viewport{
  width: device-width;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}
#home_content {
    margin-top: 50px;
}

#mojotrollz_client{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px; 

}
