@-ms-viewport{
  width: device-width;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
    color: #7A7A7A;
}

.btn-success { 
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
} 
 
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
} 
 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success { 
  background-image: none; 
} 

#home_content {
    margin-top: 50px;
}

#mojotrollz_client{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px; 

}

.flex-direction-nav a { display: none; }

table.mojotrollz_table tr:nth-child(even) {
}
table.mojotrollz_table tr:nth-child(odd) {
 background-color: #1a1a1a;
}
table.mojotrollz_table tr:hover {
 background-color: #1f1f1f;
}


.btn-primary { 
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 

.btn-warning { 
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
} 
 
.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
} 
 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
  background-image: none; 
}